#hero {
    border:1px solid red;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

#hero div {
    width: 8rem;
    height: 8rem;
    object-position: center;
    overflow: hidden;
    margin-bottom: 1rem;
}

#hero div img {
  width: 100%;
  border-radius: 50%;
}

#hero h1 {
    font-size: 1.75rem;
}

#hero p {
    font-size: 1.15rem;
}